<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" class="bar-positive">
    <ion-header-bar class="bar-stable">
		<label class="item item-input">
		  <i class="icon ion-search placeholder-icon"></i>
		  <input type="search" placeholder="Tìm bài học ví dụ 3." ng-model="timKiem">
		</label>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item ui-sref="{{menu.sref}}" menu-close="" ng-repeat="menu in danhSachMenu | filter: timKiem" ng-click="updateTitle(menu)" ui-sref-active="active" >{{menu.title}}</ion-item>
		  
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>